* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #222126;
  min-height: 100vh;
}

html {
  height: 100vh;
}

main {
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

p, li {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #F7F6FA;
}

h1 {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 46px;
  color: #E6F783;
}

h2 {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #E6F783;
}

h3 {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

pre {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #D1CFD8;
  background-color: #312F37;
  padding: 1em;
}

ul, nav {
   background-color: #222126;
}

.sidebar {
  border-left: 1px solid #312F37;
}

nav > a {
  color: white;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: #E6F783;
}

a:hover {
  color: #b5c945;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #E6F783;
  color: black;
}

.nav-link {
  font-family: 'JetBrains Mono';
  font-size: 16px;
  color: #ffffff;
}

.nav-link:hover {
  background-color: #393939;
  color: #ffffff;
}

.scrollarea {
  overflow-y: auto;
}

.btn {
  font-family: 'JetBrains Mono';
  font-size: 16px;
  background-color: #E6F783 !important;
  border-color: #E6F783 !important;
  color: #312F37;
  font-weight: 700;
}

.highlight {
  background: #3d402b;
  
}

.highlight > p {
  color: white;
}
