* {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

body {
  background-color: #222126;
  min-height: 100vh;
}

html {
  height: 100vh;
}

main {
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

p,
li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #f7f6fa;
  margin-bottom: 1em;
}

ul {
  /* list-style: none; */
}

.lists > li::before {
  content: "•";
  color: #e6f783; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #e6f783;
}

h2 {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #e6f783;
}

h3 {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #e6f783;
  margin-top: 0;
  margin-bottom: 1rem;
}

h4 {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #e6f783;
  margin-top: 0;
  margin-bottom: 1rem;
}

th {
  color: #e6f783;
}

td,
td > * {
  color: #f7f6fa;
}

b {
  font-weight: 700;
}

label {
  color: #e6f783;
}

.form-control {
  background-color: #312f37;
  border: none;
  color: #f7f6fa;
  font-family: "JetBrains Mono";
  font-size: 14px;
  line-height: 22px;
  padding: 0.75rem;
  border: none;
  border-radius: 0;
}

.form-control:focus {
  border: none;
  background-color: #423f4b;
  box-shadow: none;
  color: #f7f6fa;
  font-family: "JetBrains Mono";
  font-size: 14px;
  line-height: 22px;
}

code {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

pre {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #d1cfd8;
  background-color: #312f37;
  padding: 1em;

  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

ul,
nav {
  background-color: #222126;
}

.brand-logo {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 28px;
  padding-left: 8px;
}

.brand-logo-bold {
  font-family: "JetBrains Mono";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 21px;
  line-height: 28px;
}

.diagram {
  width: 100%;
  max-width: 40em;
}

.sidebar {
  border-right: 1px solid #312f37;
}

nav > a {
  color: #f7f6fa;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: #e6f783;
}

a:hover {
  color: #b5c945;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #e6f783;
  color: black;
  border-radius: 0;
  /* padding-left: 8px; */
}

.nav-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: white;
  margin-left: -20px;
}

.nav-item > .active {
  /* padding-left: 20px; */
}

.nav-link:hover {
  background-color: #393939;
  color: #f7f6fa;
  border-radius: 0;
}

.nav-item {
  margin-bottom: 0;
}

.nav-item img {
  margin-right: 1rem !important;
  margin-top: 3px;
}

.scrollarea {
  overflow-y: auto;
}

.btn {
  font-family: "JetBrains Mono";
  font-size: 16px;
  background-color: #e6f783 !important;
  border-color: #e6f783 !important;
  border-radius: 100px;
  color: #312f37;
  font-weight: 700;
  padding: 8px 30px;
}

.btn:hover,
.btn:first-child:hover {
  background-color: #f0fea2 !important;
  color: #000000;
}

.btn:disabled {
  color: #3d402b;
}

.highlight {
  background: #3d402b;
}

.highlight > p {
  color: #f7f6fa;
}

.alert-highlight {
  background: #3d402b;
  padding: 1em;
}

/* markdown */
.md img {
  width: 100%;
}

.md strong {
  font-weight: 700;
}

.dropdown {
  background-color: #222126;
  color: white;
}
