* {
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
}

html {
  height: 100vh;
}

main {
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

pre {
  color: #ebebee;
  background-color: #424242;
  margin: 1rem 0 !important;
  padding: 1rem;
  border-radius: 5px;
}

h3 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 1em;
  font-weight: 600;
  color: #333333;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: #f26d43;
}

a:hover {
  color: #f73f08;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #f26d43;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  background-color: #393939;
  color: #ffffff;
}

.scrollarea {
  overflow-y: auto;
}

.btn {
  background-color: #f26d43 !important;
  border-color: #f26d43 !important;
}
